# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code-important\file-client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
